.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.center-block {
    float: none;
}

h3 {
    text-align: center;
    margin-top: 40px;
}